apiVersion: apps/v1
kind: Deployment
metadata:
  name: processor
  namespace: processor
spec:
  selector:
    matchLabels:
      app: processor
  template:
    metadata:
      labels:
        app: processor
    spec:
      serviceAccountName: processor
      containers:
        - name: processor
          image: soatproject/hackaton-soat-processor:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: processor-configmap
            - secretRef:
                name: processor-secret
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "2Gi"
          livenessProbe:
            httpGet:
              path: /processor/api/actuator/health/liveness
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /processor/api/actuator/health/readiness
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 5
            failureThreshold: 3