apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: processor
  namespace: processor
spec:
  parentRefs:
    - name: eg
      namespace: envoy-gateway-system
  rules:
    - filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: /
      backendRefs:
        - group: ""
          kind: Service
          name: processor-service
          namespace: processor
          port: 80
          weight: 1
      matches:
        - path:
            type: PathPrefix
            value: /processor