apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: backstage
  namespace: backstage
spec:
  parentRefs:
    - name: eg
      namespace: envoy-gateway-system
  rules:
    - backendRefs:
        - group: ""
          kind: Service
          name: backstage-service
          namespace: backstage
          port: 80
          weight: 1
      matches:
        - path:
            type: PathPrefix
            value: /backstage